.fileListContainer {
    display: flex;
    flex-direction: column;
    align-items: start; /* Aligner les éléments à gauche */
    gap: 10px; /* Espacer les éléments verticalement */
  }
  

  